body {
    margin: 0;
    padding: 0;
    background-color: #dacafb;
    min-width: 375px; 
}

header {
    margin: 0;
    padding: 0;
    height: 693px;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


header ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

header ul li{
    display: inline;
}

nav ul {
    height: 80px;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li a {
	text-decoration: none;
	color: #000000;
	font-family: "ABeeZee-Regular";
}

#home h1 {
    text-align: center;
    font-family: "Cookie-Regular";
    font-size: 100px;
}

#home h2 {
    text-align: center;
    font-family: "Cookie-Regular";
    font-size: 60px;
}

main {
    max-width: 1000px;
    margin: auto;
}

#gallery h2, #contact h2, #follow h2 {
    text-align: center;
    font-family: "Cookie-Regular";
    font-size: 50px;
}

#about {
    display: flex;
}

.about-img {
    justify-content: flex-start;
    width: 310px;
    height: 310px;
}

#about img {
    height: 300px;
    width: 300px;
    margin: 50px 10px 10px 10px;
}

.about-text {
    justify-content: flex-end;
    height: 310px;
    width: 500px;
    margin-left: 150px;
}

#about h2 {
    font-family: "ABeeZee-Regular";
    font-size: 36px;
    text-align: center;
}

#about p {
    font-family: "ABeeZee-Regular";
    font-size: 20px;
    line-height: 1.5;
    text-align: right;
}

#gallery img {
    width: 230px;
    height: 230px;
    margin: 35px 35px;
}

#contact form {
    text-align: center;
}

#contact input, #contact button {
    font-family: "ABeeZee-Regular";
    border: solid #c0c0c0 3px;
    border-radius: 7px;
}

.input {
    width: 200px;
    height: 25px;
    margin: 0 21px;
}

.textarea {
    width: 450px;
    height: 100px;
    margin: 30px 0 0 0;
}

#contact button {
    width: 100px;
    background-color: #8b51f5;
    color: #fafafa;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    height: 30px;
}

#follow div {
    display: flex;
    justify-content: center;
}

#follow img {
    width: 60px;
    height: 60px;
    margin: 0 10px 20px 10px;
}

footer {
    background-color: #8b51f5;
    height: 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer span {
    font-family: "ABeeZee-Regular";
    font-size: 20px;
}

@font-face {
font-family: "ABeeZee-Regular";  
src: url("../fonts/ABeeZee-Regular.otf") format("truetype"); 
font-style: normal; 
font-weight: normal;
 }

@font-face{
font-family: "Cookie-Regular";
src: url("../fonts/Cookie-Regular.ttf") format("truetype");
font-style: normal; 
font-weight: normal; 

}