body {
    max-width: 1000px;
    margin: auto;
    padding: 0;
    min-width: 450px;
}

header {
    margin: 0;
    padding: 0;
    height: 693px;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #dacafb;
}

header ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

header ul li{
    display: inline;
}

header ul li a:hover {
    color: #8b51f5;
   } 

nav {
    max-width: 800px;
    margin: auto;
}

nav ul {
    height: 80px;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li a {
	text-decoration: none;
	color: #000000;
	font-family: "ABeeZee-Regular";
}

#menu-icon {
    display: none;
    text-decoration: none;
}

#menu-icon img {
    width: 40px;
    height: 40px; 
    margin: 20px 0 20px 20px;
}

#home h1 {
    text-align: center;
    font-family: "Cookie-Regular";
    font-size: 100px;
    margin-top: 150px;
}

#home h2 {
    text-align: center;
    font-family: "Cookie-Regular";
    font-size: 60px;
}

#gallery h2, #contact h2, #follow h2 {
    text-align: center;
    font-family: "Cookie-Regular";
    font-size: 50px;
    margin-top: 0;
}

#about {
    display: flex;
    background-color: #dacafb;
    height: 400px;
    justify-content: space-around;
}

.about-img {
    justify-content: flex-start;
    width: 310px;
    height: 310px;
}

#about img {
    height: 300px;
    width: 300px;
    margin: 50px 10px 10px 10px;
}

.about-text {
    justify-content: flex-end;
    height: 310px;
    width: 520px;

}

#about h2 {
    font-family: "ABeeZee-Regular";
    font-size: 36px;
    text-align: center;
}

#about p {
    font-family: "ABeeZee-Regular";
    font-size: 20px;
    line-height: 1.5;
    text-align: right;
}

#gallery {
    text-align: center;
    background-color: #fff;
    border: 1px solid #dacafb;
    padding-top: 40px;
}

#gallery h2 {
    margin-bottom: 0;
}

#gallery img {
    width: 230px;
    height: 230px;
    margin: 35px;
}

#contact {
    background-color: #dacafb;
    padding-top: 40px;
}

#contact form {
    text-align: center;
}

#contact input, #contact textarea, #contact button {
    font-family: "ABeeZee-Regular";
    border-radius: 7px;
}

.input {
    width: 276px;
    height: 25px;
    margin: 0 21px 15px 21px;
    border: solid #c0c0c0 1px;
}

textarea {
    width: 600px;
    height: 100px;
    margin: 15px 0 0 0;
    border: solid #c0c0c0 1px;
    font-size: 13px;
    line-height: 2;
}

.button {
    width: 200px;
    background-color: #8b51f5;
    color: #fafafa;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    height: 30px;
}

input:focus, textarea:focus {
    box-shadow: 1px 1px 7px #8b51f5;
}

#follow {
    background-color: #dacafb;
    padding-top: 40px;
}

#follow h2 {
    margin-bottom: 30px;
}

#follow div {
    display: flex;
    justify-content: center;
}

#follow img {
    width: 60px;
    height: 60px;
    margin: 0 10px 20px 10px;
}

footer {
    background-color: #8b51f5;
    height: 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer span {
    font-family: "ABeeZee-Regular";
    font-size: 20px;
}

@media (max-width: 840px) {

   #about {
       display: flex;
       flex-direction: column;
       height: 800px;
       align-items: center;
       justify-content: flex-start;
   }
   
   .about-img {
       margin-left: 0;

   }
   
   .about-text {
       margin: 10px 10px 10px 10px;
       width: 300px;
       align-items: center;
   }
}

@media (max-width: 666px) {

    #menu-icon {
        display: inline-block;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    header nav .nav-menu,
    header nav:active .nav-menu {
        display: none;
        position: absolute;
        padding: 20px;
        background: #dacafb;
        border: 1px solid #8b51f5;
        top: 75px;
        width: 30%;
        border-radius: 3px;
        height: 240px;
        text-align: left;
    }

    nav .nav-menu li {
        text-align: right;
        width: 100%;
        padding: 10px 0;
        margin: 0;
        border: none;
    }

    nav:hover ul {
        display: block;
    }

    #gallery .img img {
        width: 300px;
        height: 300px;
        margin: 20px; 
    }
    
    #follow img {
        width: 50px;
        height: 50px;
    }
    
    #contact #contact-form .input {
        width: 400px;
        margin-bottom: 20px;
    }
    
    #contact #message {
        width: 400px;
        margin-top: 0;
    }
    
    #contact #contact-form .button {
        margin-top: 20px;
    }
    
}

@font-face {
font-family: "ABeeZee-Regular";  
src: url("../fonts/ABeeZee-Regular.otf") format("truetype"); 
font-style: normal; 
font-weight: normal;
 }

@font-face{
font-family: "Cookie-Regular";
src: url("../fonts/Cookie-Regular.ttf") format("truetype");
font-style: normal; 
font-weight: normal; 

}